<h3>All our Flats (<%= Flat.count %>) </h3>
<%= link_to "Add flat", new_flat_path %>

<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-sm-3 m-3">
      <div class="card">
        <div class="card-body">
          <%= render flat %>
           <%= link_to "More info" , flat_path(flat) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
